.pull-left{
    float: left;
}
img{
    max-width: 100%;
}
.App {
    text-align: center;
}

.nChat {
    width: 100%;
    height: 100%;
    position: fixed;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    padding: 60px 0 60px 0;
    box-sizing: border-box;
}

.columns * {
    width: 100%;
}

.chat_top {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
}

.supportInfo {
    background-color: #F44336;
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.supportInfo .spImg {
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 40px;
}
.supportInfo .spImg img{
    width: 100%;
    object-fit: cover;
}
.supportInfo .spInfor {
    margin-left: 50px;
    margin-right: 80px;
    cursor: pointer;
}
.supportInfo .spInfor button{
    font-size: 12px;
    color: #fff;
    background: none;
    border: transparent;
    font-style: italic;
    text-decoration: underline;
}
.supportInfo .spInfor .spName {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.supportInfo .spInfor p {
    color: #fff;
    font-size: 11px;
    font-weight: 100;
    line-height: 20px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logoNhanh {
    position: absolute;
    right: 10px;
    top: 0;
    overflow: hidden;
    text-align: right;
    vertical-align: middle;
    display: block;
    line-height: normal;
}

.chat_body .box_chat {
    height: 100%;
    max-height: 450px;
    padding: 15px 10px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat_body .box_chat div .card{
    float: left;
    clear: both;
}
.blockText{
    background-color: #f1f0f0;
    border-radius: 30px;
    color: #333;
    padding: 5px 15px;
    margin-bottom: 5px;
    /* float: left; */
    text-align: left;
    word-wrap: break-word;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    font-family: Arial;
    display: inline-block;
    margin-left: 10px;
}
.chat_body .box_chat div .card i{
    float: left;
    font-size: 11px;
}
.chat_body .box_chat .name-key{
    margin-right: 5px;
}
.chat_body .box_chat .message{
    display: block;
    clear: both;
}
.chat_footer {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.13);
}

.chat_footer form {
    height: 60px;
    padding: 10px 80px 20px 0;
    position: relative;
    box-sizing: border-box;
}

.chat_footer textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0px 10px 0px 15px;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
    font-size: 13px;
    color: #000;
    outline: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.currentMessenger .blockText{
    background-color: #3578e5;
    border-radius: 30px;
    color: #fff;
    text-align: left;
    margin-right: 10px;

}
.chat_body .box_chat div .card .blockUser{
    float: left;
}
.currentMessenger{
    clear: both;
    float: right;
}
.blockUser{
    border-radius: 50%;
    overflow: hidden;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    float: right;

}
.currentMessenger .blockUser{
    display: none;
}
.currentMessenger .card-content .blockText div, .currentMessenger .card-content .blockText b{
    width: 100%;
}